<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sportsclubmanagementapp">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission
        android:name="com.pkg.map.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" >
    </permission>
    
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- for Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCqrctnfF6Bsidj-Td50Zjnxqeg-AX61p0"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".screens.eventdetails.EventDetailsActivity"/>
        <activity android:name=".screens.addworkout.AddWorkoutActivity" />
        <activity android:name=".screens.club_page.ClubPageActivity" />
        <activity android:name=".screens.notification.NotificationActivity" />
        <activity android:name=".screens.myprofile.MyProfileActivity" />
        <activity android:name=".screens.calendar.CalendarActivity" />
        <activity android:name=".screens.accountsetup.AccountSetupActivity" />
        <activity android:name=".screens.login.LoginActivity" />
        <activity android:name=".screens.register.RegisterActivity" />
        <activity android:name=".screens.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.guest.GuestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>